<!-- Category is supplied -->
<link rel="stylesheet" href="./css/create_task.css">
<div class="modal fade" id="create-task-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!-- Create-Task Form -->
                <form id="create-task-form" action="/task/create" method="post"></form>
                <div id="create-task-container" class="col-12  mx-auto mt-3  rounded">

                    <div class="user-input">
                        <!-- Title -->
                        <label>Title</label>
                        <div class="container border-bottom p-3">
                            <span> <i class="fa-solid fa-circle-info"></i></span>
                            <input class="col-10" type="text" name="title" id="task-title"
                                placeholder="What do you want to do?" form="create-task-form" required>
                            <span id='title-empty-error' class="d-none badge bg-danger ">Title cannot be empty</span>
                        </div>
                        <!-- Category -->
                        <label>Category</label>
                        <div class="container border-bottom p-3">
                            <input class="col-10" type="data" name="category" id="" placeholder=""
                                form="create-task-form" list="category-list" style="border: none;outline: none;"
                                required>
                            <datalist id="category-list">
                            </datalist>
                        </div>
                        <!-- Due Date -->
                        <label>Due Date</label>
                        <div class="container border-bottom p-3">
                            <input class="col-10" type="date" name="due_date" id="task-date" placeholder=""
                                form="create-task-form" required>
                            <span id='invalid-date-error' class="d-none badge bg-danger">Date Invalid</span>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <!-- Button Panel -->

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" id="create-task-form-submit" value="Add Task"
                    form="create-task-form">
            </div>
        </div>
    </div>
</div>
<script>

</script>
<script src="./js/form_date.js"></script>