<!-- Category is supplied -->
<link rel="stylesheet" href="./css/create_task.css">
<div class="modal fade" id="create-task-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!-- Create-Task Form -->
                <form id="create-task-form" action="/task/create" method="post"></form>
                <div id="create-task-container" class="col-12  mx-auto mt-3  rounded">

                    <div class="user-input">

                        <label>Title</label>
                        <div class="container border-bottom p-3">
                            <span> <i class="fa-solid fa-circle-info"></i></span>
                            <input class="col-10" type="text" name="title" id="" placeholder="What do you want to do?"
                                form="create-task-form" required>
                        </div>

                        <label>Category</label>
                        <div class="container border-bottom p-3">
                            <input class="col-10" type="data" name="category" id="" placeholder=""
                                form="create-task-form" list="category-list" style="border: none;outline: none;"
                                required>
                            <datalist id="category-list">


                            </datalist>
                        </div>

                        <label>Due Date</label>
                        <div class="container border-bottom p-3">
                            <input class="col-10" type="date" name="due_date" id="" placeholder=""
                                form="create-task-form" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="create-task-form-submit"
                    data-bs-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>