<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
                <a class="navbar-brand" href="#">
                        <img src="./images/logo.png" alt="" width="150rem" height="75rem">
                </a>
        </div>
        <div class="container d-flex justify-content-end">
                <span id="current-date" class="fs-5 badge bg-dark  m-1 "> </span>
                <div id="sign-out" class="border border-dark  border-4 rounded p-1"><a href="/access/destroy-session"><i
                                        class="fa-solid fa-right-from-bracket fa-xl"></i></a></div>
        </div>

</nav>
<script>
        document.querySelector('#current-date').innerHTML = new Date().toString().split(' ')[0] + ',' + new Date().toString().split(' ')[1] + ' ' +
                new Date().toString().split(' ')[2] + ' ' + new Date().toString().split(' ')[3];
</script>