<form action="/user/create" method="post" id="create-user"></form>
<div id="signUp-container" class="col-12 col-md-5 mx-auto mt-3 p-4 rounded">
    <div class="box-title">
        <h3 class="text-center fw-bold">Sign up</h3>
    </div>
    <div class="user-input">
        <label>Name</label>
        <div class="container border-bottom p-3">
            <i class="fa-regular fa-user"></i>
            <input class="col-10" type="text" name="name" placeholder="Type your name" form="create-user" required>
        </div>

        <label>Email</label>
        <div class="container border-bottom p-3">
            <i class="fa-regular fa-user"></i>
            <input class="col-10" type="email" name="email" placeholder="Type your name" form="create-user" required>
        </div>

        <label>Password</label>
        <div class="container border-bottom p-3">
            <span><i class="fa-solid fa-lock"></i></span>
            <input class="col-10" type="password" name="password" id="create-user-password"
                placeholder="Type your password" form="create-user" required>
            <span id='password-length-error' class="d-none badge bg-danger">Password Minimum 6 characters</span>
        </div>

        <label>Confirm Password</label>
        <div class="container border-bottom p-3">
            <span><i class="fa-solid fa-lock"></i></span>
            <input class="col-10" type="password" name="confirm_password" placeholder="Type your password"
                form="create-user" required>
        </div>


    </div>
    <div class="button text-center">

        <input class="col-6 rounded-pill" type="submit" value="Sign Up" form="create-user" id="create-user-submit">
    </div>
    <div class="text-end m-1">
        <span>Already Have an Account - <a href="/login">Login</a></span>
    </div>
    <script src="/<%= assetPath('js/validate_input.js')%>"></script>
</div>