/* .test {
  border: 1px solid rgb(18, 18, 18);
} */

/* Classes for flex-basis and display-flex */
.col-25 {
  flex: 25%;
}

.col-50 {
  flex: 50%;
}

.col-75 {
  flex: 75%;
}
.col-100 {
  flex: 100%;
}
.row-25 {
  flex: 25%;
}

.row-50 {
  flex: 50%;
}

.row-75 {
  flex: 75%;
}
.flex-row {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.jc-space-betwn {
  justify-content: space-between;
}
.margin {
  margin: 1%;
}

.hide {
  height: 0;
  width: 0;
  overflow: hidden;
}
/* Panel */
/* Added to AddTask */
.panel {
  box-shadow: 0 4px 12px 8px rgba(0, 0, 0, 0.2);
  padding: 1%;
}
/* Imported Google API FONTS */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap");

/* CSS margin and padding reset  */
* {
  margin: 0;
  padding: 0;
}
/* CSS variables */
:root {
  --primary-background-color: rgb(234, 94, 99);
  --secondary-background-color: rgb(238, 156, 156);
  --input-feilds-background-color: rgb(190, 104, 104);
}
/* Body */
body {
  background-color: var(--primary-background-color);
  color: white;
  margin-left: 1%;
}

/* Navbar */
nav {
  display: flex;
  height: 50px;
  max-width: 60%;
  margin: auto;
  margin-top: 5px;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
  gap: 1vh;
}
/* App Name */
.app-name {
  font-family: "Barlow", sans-serif;
}

/* Brand Logo */
nav i,
h5 {
  font-size: 1.2rem;
}
/*  Profile Image */
#profile-image {
  height: 40px;
  margin: 1vh;
  border-radius: 25%;
}
/* Save-button */
.save-button {
  margin-left: auto;
  font-size: 1.2rem;
  margin-right: 1%;
  padding: 0.3rem;
  background-color: var(--secondary-background-color);
  border-radius: 10px;
  font-family: "Dosis", sans-serif;
}

.save-button:hover {
  cursor: pointer;
  background-color: gray;
}
/* Display Message */
/* .display-message {
  transition: all 0.5s ease-in-out;
  font-family: "Dosis", sans-serif;
  font-size: 0.75rem;
} */

/* Main Section */
main {
  display: flex;
}
/* The main section has toDo section.This was intended to isolate the toDo from the pomoDero Timer feature which is under development */
#toDo {
  max-width: 100%;
  margin: auto;
  margin-top: 2vh;
  justify-content: center;
  gap: 3vw;
}
/* The toDo Section was divided into 
      -upper-panel
      -lower-panel */
.upper-panel {
  height: 300px;
  max-width: 50%;
}

.upper-panel form {
}
/* The add-task is a child of the form tag */
/* Form Components for adding the tasks */

/* Add Task Card */
#add-task {
  font-family: "Asap Condensed", sans-serif;
  font-size: 1.2rem;
}
#add-task input {
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid var(--input-feilds-background-color);
  border-radius: 3px;
  background-color: var(--input-feilds-background-color);
  color: white;
}
#add-task textarea {
  resize: none;
  background-color: var(--input-feilds-background-color);
  color: white;
  padding-top: 3%;
  padding-left: 1%;
}
#add-task select {
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid var(--input-feilds-background-color);
  border-radius: 3px;
  background-color: var(--input-feilds-background-color);
  color: white;
}
#add-task input[type="submit"] {
  max-width: 35vw;
  margin: auto;
  font-size: 1.2rem;
}
#add-task input[type="submit"]:hover {
  cursor: pointer;
  background-color: rgb(49, 41, 41);
}

#add-task input::placeholder,
textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(244, 240, 240);
  opacity: 1; /* Firefox */
  font-family: "Asap Condensed", sans-serif;
  font-size: 1.2rem;
}

#add-task-submit {
  align-self: center;
}
/* Tab Controller */
.tab-controller {
  /* border: 1px solid #ccc; */
  background-color: #f1f1f1;
  height: 5vh;
  overflow: hidden;
  align-items: center;
  border-radius: 50px;
  min-width: 100%;
  justify-content: space-around;
}
.tab-controller button {
  /* width: 10vw; */
  height: 5vh;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.1rem;
  padding-left: 10px;
  padding-right: 10px;
}
.tab-controller .today-tab {
  background-color: gray;
}
.tab-controller button:hover {
  background-color: lightgray;
}

/* Lower panel */
.lower-panel {
  width: 50vw;
}
/* Conatiners for containnig cards based on due-date of task */
.task-status {
  align-items: center;
}

/* task card */
.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  border-radius: 12px;
  padding: 1vw;
  font-family: "Barlow", sans-serif;
}

.completion-checkbox:checked + div {
  text-decoration: line-through;
}

.card-upper-panel {
  gap: 1rem;
  transition: all 2s ease-in-out;
}

.card-upper-panel i:hover {
  cursor: pointer;
  color: red;
}
.card-upper-panel a {
  color: black;
  font-size: 1.2rem;
}
.card-upper-panel .edit-button {
  color: black;
  font-size: 1.2rem;
}
.card-upper-panel .edit-button a:hover {
  color: gray;
}
.edit-button {
  margin-left: auto;
  align-self: flex-start;
}
.card-title {
  overflow: hidden;
  overflow-wrap: break-word;
  font-size: 1.2rem;
}
.card-title h7 {
}
.card-lower-panel {
  display: flex;
  margin-top: 8px;
  font-size: 1rem;
}

.due-date {
  align-self: center;
  font-weight: bolder;
}
.task-category {
  margin-left: auto;
  padding: 1%;
  margin-right: 2%;
  padding: 1%;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: white;
}
/* Edit panel */
.card-edit-panel {
  margin-top: 0;
}
.card-edit-panel label {
  padding: 1%;
  font-family: "Asap Condensed", sans-serif;
  font-weight: bolder;
}

.card-edit-panel input {
  font-size: large;
}
.card-edit-panel textarea {
  font-size: large;
}
.card-edit-panel select {
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: large;
}
.edit-panel-button button {
  min-width: 7vw;
  height: 4vh;
  margin: 1%;
}
.edit-panel-button {
  gap: 1rem;
}
.edit-panel-button .save {
  background-color: black;
  color: white;
}

.edit-panel-button .delete {
  background-color: red;
  margin-left: auto;
}

/*IDs divided based on due date */
#today {
  display: block;
}
#upcoming {
  display: none;
}
#pending {
  display: none;
}
