#signUp-container {
  background: #ffffff;
}
input[type="submit"] {
  background: linear-gradient(to right, #5668e3, #ab1b74) !important;
  color: white;
}
input[type="text"] {
  border: none;
  outline: none;
}
input[type="password"] {
  border: none;
  outline: none;
}
