<form id="confirm-email" action="/user/send-link" method="post"></form>
<div id="reset-container" class="col-12 col-md-5 mx-auto mt-3 p-4 rounded">
    <div class="box-title">
        <h3 class="text-center fw-bold">Confirm Your Email</h3>
    </div>
    <div class="user-input">

        <label>Email</label>
        <div class="container border-bottom p-3">
            <i class="fa-regular fa-user"></i>
            <input class="col-10" type="text" name="email" id="" placeholder="Type your email" form="confirm-email">
        </div>
    </div>
    <div class="button text-center m-2">

        <input class="col-3 rounded-pill" type="submit" value="Reset" form="confirm-email">
    </div>
</div>